// Specific CSS for your home-page
.header {
  align-items: center;
  text-align: center;
  color: #0D1B2A;
  padding-bottom: 25px;
}

.diff {
  font-weight: bold;
  color: #3795E6;
}

// .home-img {
//   margin: 20px;
// }

.banner {
  background-image: url('https://cdn.dribbble.com/users/2146640/screenshots/6659142/getting_clear_tw_4x.jpg?compress=1&resize=1200x900&vertical=top');
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  border-radius: 10px;
}

.banner:hover {
  background-image: url('final-banner.jpg'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: 1200px 900px;
  // background-repeat: no-repeat;
  // display: block;
  // text-align: center;
  // width: 100%;
  // height: 80vh;
  // margin: 0px auto;
  // padding: 20px;
  // color: white;
  // text-transform: uppercase;
  // font-family: Arial;
  // border: 1px solid #fff;
  // text-decoration: none;
  // border-radius: 10px;
}
