.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: aliceblue;
}

.back {
  background: #654ea3;
  background: linear-gradient(to right, #cecece, #555555);
  min-height: 100vh;
  overflow-x:hidden;
  border-radius: 10px;
}


.width {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
