<div class="container">
  <div class="header1">
    <h1>< Get the right <span class="diff">developer</span> for you today ></h1>
  </div>
  <div>
    <div class="head-wrap shift-text">
		    <div class="text-editor-wrap">
			    <div class="title-bar"><span class="title">typed.js — bash — 80x<span class="terminal-height">10</span></span></div>
			      <div class="text-body">
				     $<span class="element">Start today</span><span class="typed-cursor"></span>
			      </div>
		      </div>
          <%# <button type="button" class="btn btn-dark">Find your developer here!</button> %>
	    </div>
    </div>
</div>
