<div class="container">
  <div class="header">
    <h1>< Get the right <span class="diff">developer</span> for you today ></h1>
  </div>
  <div>
    <%# <img class='home-img d-flex' src="https://cdn.dribbble.com/users/2146640/screenshots/6659142/getting_clear_tw_4x.jpg?compress=1&resize=1200x900&vertical=top" alt=""> %>
    <%= link_to '', developers_path, class: 'banner' %>
  </div>
</div>
