// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/cards";
@import "pages/show-dev";
// @import "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js";
// @import "https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js";
// @import "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js";
@import "components/login";
@import "components/sign_up";
@import "pages/new-dev";

.main-container{
  min-height: calc(100vh - 50px - 152px);
}
